<ion-header>
    <ion-navbar>
        <ion-title>Location Manager</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <a (click)="goToList()">View Location List</a>
        </ion-card-header>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-list>
                <ion-item>
                    <ion-label>Add fence</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label floating>Set fence radius<ion-label small><i>(meters)</i></ion-label></ion-label>
                    <ion-input type="text" [(ngModel)]="radius"></ion-input>
                </ion-item>
            </ion-list>
            <button ion-button round color="primary" outline (click)="searchContact()">Search</button>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="searchResult">
        <ion-card-header>
            Search Result
            <div *ngIf="isTruncated" small> Showing only top 5</div>
        </ion-card-header>
        <ion-card-content>
            <ion-card *ngFor="let contact of searchResult">
                <ion-card-header>
                    {{contact.name}}
                </ion-card-header>
                <ion-card-content>
                    <ion-list>
                        <ion-item *ngFor="let number of contact.phoneNumber" (click)="selectNumber(number, contact.name)">
                            <ion-label>
                                {{number}}
                            </ion-label>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-card-content>
    </ion-card>
</ion-content>