<ion-header>
    <ion-navbar>
        <ion-title>Relationship Manager</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            <a (click)="goToScheduler()">Schedule a call</a>
        </ion-card-header>
    </ion-card>
  <!--   <ion-card>
        <ion-card-header>
            Voice Assistant
        </ion-card-header>
        <ion-card-content>
            <app-voice-assistant></app-voice-assistant>
        </ion-card-content>
    </ion-card> -->
    <ion-card>
        <ion-card-header>
            Scheduled Calls
        </ion-card-header>
        <ion-card-content>
            <ion-list id="reminderList" *ngIf="scheduleList">
                <ion-item-sliding *ngFor="let item of scheduleList">
                    <ion-item>
                        <h2> {{item.data.name}} - {{item.data.number}} </h2>
                        <p> {{item.text}} </p>
                        <p> on {{item.trigger.at}}</p>
                    </ion-item>
                    <ion-item-options side="left">
                        <button ion-button color="primary" (click)="edit(item.id)">
                            <ion-icon name="md-create"></ion-icon>
                            Edit
                        </button>
                    </ion-item-options>
                    <ion-item-options side="right">
                        <button ion-button color="twitter" (click)="call(item.data.number, item.id)">
                            <ion-icon name="call"></ion-icon>
                            Call
                        </button>
                        <button ion-button color="primary" (click)="smsConfirm(item.data.number)">
                            <ion-icon name="md-text"></ion-icon>
                            SMS
                        </button>
                        <button ion-button color="danger" (click)="delete(item.id)">
                            <ion-icon name="md-trash"></ion-icon>
                            Delete
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
            <ion-list *ngIf="scheduleList.length === 0">
                <ion-item>
                    <ion-label>No calls scheduled!</ion-label>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>